[Unit]
Description=NZB Watch Folder Daemon

[Service]
Type=simple
User=ross
Group=ross
ExecStart=/bin/ruby /home/ross/.nzbwatch/nzbwatch.rb

[Install]
WantedBy=multi-user.target1
